@use '@angular/material' as mat;

@include mat.core();

$ng-template-primary: mat.define-palette(mat.$teal-palette);
$ng-template-accent: mat.define-palette(mat.$amber-palette);
$ng-template-warn: mat.define-palette(mat.$orange-palette, 900);
$ng-template-typography: mat.define-typography-config();
$ng-template-light-theme: mat.define-light-theme((
  color: (
    primary: $ng-template-primary,
    accent: $ng-template-accent,
    warn: $ng-template-warn,
  ),
));
$ng-template-dark-theme: mat.define-light-theme((
  color: (
    primary: $ng-template-primary,
    accent: $ng-template-accent,
    warn: $ng-template-warn,
  ),
  density: 0,
));

@include mat.all-component-themes($ng-template-light-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
